@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";

@theme {
  --font-heading: "Space Grotesk Variable", "sans-serif";
  --font-sans: "DM Sans Variable", sans-serif;
  --font-mono: "DM Mono", sans-serif;
}

:root {
  --symbol: var(--color-neutral-300);
  --pattern-fg: var(--color-neutral-300);

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --shadow: oklch(0.995 0 0);
  --dark-shadow: oklch(0.98 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(0.97 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.79 0.247 68.82);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.245 0 0);
  --sidebar-secondary: oklch(0.555 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --symbol: var(--color-neutral-600);
  --pattern-fg: var(--color-neutral-700);

  --background: oklch(0.1 0 0);
  --shadow: oklch(0.07 0 0);
  --dark-shadow: oklch(0.02 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.25 0 0);
  --input: oklch(0.25 0 0);
  --ring: oklch(0.79 0.247 68.82);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-secondary: oklch(0.685 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

.prose {
  & :is(:where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *))) {
    @apply sticky top-3 z-0 -mr-0 -ml-3 px-3 py-3 text-5xl;
  }
}

.prose h1 a,
.prose h2 a,
.prose h3 a {
  @apply no-underline;
}

.prose h1 a:hover,
.prose h2 a:hover,
.prose h3 a:hover {
  @apply underline decoration-[1.5px];
}

.prose h1 a:focus-visible,
.prose h2 a:focus-visible,
.prose h3 a:focus-visible {
  @apply ring-ring ring-offset-background underline decoration-[1.5px] ring-offset-2 outline-none;
}

.prose h2::before {
  @apply absolute top-0 -right-3 -bottom-3 -left-0 -z-20 border-2 border-[var(--border)] bg-black/80;

  background-image: repeating-linear-gradient(
    45deg,
    var(--border) 0,
    var(--border) 2px,
    var(--shadow) 0,
    var(--shadow) 50%
  );
  clip-path: polygon(
    0 0,
    calc(100% - 13px) 0,
    100% 13px,
    100% 100%,
    100% 100%,
    12px 100%,
    0 calc(100% - 12px),
    0 0
  );
  background-size: 12px 12px;
  background-attachment: local;
  content: " ";
}

.prose h2::after {
  @apply bg-background border-border absolute inset-0 -z-10 border-2;
  content: " ";
}

.page {
  @apply bg-background;
}

.page::after {
  @apply border-border pointer-events-none absolute inset-0 border-2;
  content: " ";
}
.page::before {
  @apply absolute top-0 right-0 -bottom-3 left-0 -z-20 border-2 border-[var(--border)];

  background-image: repeating-linear-gradient(
    45deg,
    var(--border) 0,
    var(--border) 2px,
    var(--dark-shadow) 0,
    var(--dark-shadow) 50%
  );

  background-size: 12px 12px;
  background-attachment: local;
  content: " ";
}

.prose kbd {
  box-shadow:
    0 0 0 1.5px var(--border),
    3px 3px var(--border);
}

summary:focus-visible,
a:focus-visible,
button:focus-visible {
  @apply focus-visible:ring-ring outline-none focus-visible:ring-[1.5px];
}

.footer-pattern {
  background-image: url("data:image/svg+xml,%3Csvg width='400' height='376' viewBox='0 0 400 376' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.6656 94L9.3551 77.6827L3.37458 83.6658L0 80.2898L15.8308 64.4524L19.2054 67.8284L13.2249 73.8114L29.5353 90.1286L25.6656 94Z' fill='%23e5e5e5'/%3E%3Cpath d='M38.1511 81.5093L18.4661 61.816L25.6485 54.6305L46.3499 68.243L46.8776 67.7151L33.2708 47.0051L40.4533 39.8196L60.1383 59.5129L56.3858 63.2669L39.4286 46.3026L38.9009 46.8305L52.3402 67.3143L45.9492 73.7079L25.474 60.263L24.9463 60.7909L41.9036 77.7552L38.1511 81.5093Z' fill='%23e5e5e5'/%3E%3Cpath d='M72.3124 48.1215C70.6316 49.803 68.8947 50.9592 67.1018 51.59C65.3097 52.1825 63.5474 52.2575 61.8151 51.8149C60.0836 51.334 58.4679 50.3433 56.9681 48.8429L44.2009 36.0704L48.0707 32.199L60.9503 45.084C62.1502 46.2844 63.4487 46.8796 64.846 46.8697C66.2628 46.8402 67.6455 46.1509 68.994 44.8018C70.3426 43.4527 71.0218 42.0792 71.0317 40.6814C71.0612 39.264 70.476 37.9551 69.2762 36.7547L56.3965 23.8697L60.2663 19.9984L73.0334 32.7708C74.5332 34.2713 75.5137 35.8974 75.9749 37.6492C76.4368 39.3627 76.3619 41.1257 75.7501 42.9381C75.1391 44.7122 73.9932 46.44 72.3124 48.1215Z' fill='%23e5e5e5'/%3E%3Cpath d='M82.4102 37.2317L78.4932 21.2883L62.7838 17.4798L67.1813 13.0805L78.371 16.1216L78.8987 15.5936L75.8589 4.39928L80.2563 0L84.0633 15.7159L100 19.6346L95.6026 24.0339L84.1855 20.8827L83.6578 21.4106L86.8077 32.8324L82.4102 37.2317Z' fill='%23e5e5e5'/%3E%3Cpath d='M125.666 94L109.355 77.6827L103.375 83.6658L100 80.2898L115.831 64.4524L119.205 67.8284L113.225 73.8114L129.535 90.1286L125.666 94Z' fill='%23e5e5e5'/%3E%3Cpath d='M138.151 81.5093L118.466 61.816L125.649 54.6305L146.35 68.243L146.878 67.7151L133.271 47.0051L140.453 39.8196L160.138 59.5129L156.386 63.2669L139.429 46.3026L138.901 46.8305L152.34 67.3143L145.949 73.7079L125.474 60.263L124.946 60.7909L141.904 77.7552L138.151 81.5093Z' fill='%23e5e5e5'/%3E%3Cpath d='M172.312 48.1215C170.632 49.803 168.895 50.9592 167.102 51.59C165.31 52.1825 163.547 52.2575 161.815 51.8149C160.084 51.334 158.468 50.3433 156.968 48.8429L144.201 36.0704L148.071 32.199L160.95 45.084C162.15 46.2844 163.449 46.8796 164.846 46.8697C166.263 46.8402 167.645 46.1509 168.994 44.8018C170.343 43.4527 171.022 42.0792 171.032 40.6814C171.061 39.264 170.476 37.9551 169.276 36.7547L156.397 23.8697L160.266 19.9984L173.033 32.7708C174.533 34.2713 175.514 35.8974 175.975 37.6492C176.437 39.3627 176.362 41.1257 175.75 42.9381C175.139 44.7122 173.993 46.44 172.312 48.1215Z' fill='%23e5e5e5'/%3E%3Cpath d='M182.41 37.2317L178.493 21.2883L162.784 17.4798L167.181 13.0805L178.371 16.1216L178.899 15.5936L175.859 4.39928L180.256 0L184.063 15.7159L200 19.6346L195.603 24.0339L184.185 20.8827L183.658 21.4106L186.808 32.8324L182.41 37.2317Z' fill='%23e5e5e5'/%3E%3Cpath d='M225.666 94L209.355 77.6827L203.375 83.6658L200 80.2898L215.831 64.4524L219.205 67.8284L213.225 73.8114L229.535 90.1286L225.666 94Z' fill='%23e5e5e5'/%3E%3Cpath d='M238.151 81.5093L218.466 61.816L225.649 54.6305L246.35 68.243L246.878 67.7151L233.271 47.0051L240.453 39.8196L260.138 59.5129L256.386 63.2669L239.429 46.3026L238.901 46.8305L252.34 67.3143L245.949 73.7079L225.474 60.263L224.946 60.7909L241.904 77.7552L238.151 81.5093Z' fill='%23e5e5e5'/%3E%3Cpath d='M272.312 48.1215C270.632 49.803 268.895 50.9592 267.102 51.59C265.31 52.1825 263.547 52.2575 261.815 51.8149C260.084 51.334 258.468 50.3433 256.968 48.8429L244.201 36.0704L248.071 32.199L260.95 45.084C262.15 46.2844 263.449 46.8796 264.846 46.8697C266.263 46.8402 267.645 46.1509 268.994 44.8018C270.343 43.4527 271.022 42.0792 271.032 40.6814C271.061 39.264 270.476 37.9551 269.276 36.7547L256.397 23.8697L260.266 19.9984L273.033 32.7708C274.533 34.2713 275.514 35.8974 275.975 37.6492C276.437 39.3627 276.362 41.1257 275.75 42.9381C275.139 44.7122 273.993 46.44 272.312 48.1215Z' fill='%23e5e5e5'/%3E%3Cpath d='M282.41 37.2317L278.493 21.2883L262.784 17.4798L267.181 13.0805L278.371 16.1216L278.899 15.5936L275.859 4.39928L280.256 0L284.063 15.7159L300 19.6346L295.603 24.0339L284.185 20.8827L283.658 21.4106L286.808 32.8324L282.41 37.2317Z' fill='%23e5e5e5'/%3E%3Cpath d='M325.666 94L309.355 77.6827L303.375 83.6658L300 80.2898L315.831 64.4524L319.205 67.8284L313.225 73.8114L329.535 90.1286L325.666 94Z' fill='%23e5e5e5'/%3E%3Cpath d='M338.151 81.5093L318.466 61.816L325.649 54.6305L346.35 68.243L346.878 67.7151L333.271 47.0051L340.453 39.8196L360.138 59.5129L356.386 63.2669L339.429 46.3026L338.901 46.8305L352.34 67.3143L345.949 73.7079L325.474 60.263L324.946 60.7909L341.904 77.7552L338.151 81.5093Z' fill='%23e5e5e5'/%3E%3Cpath d='M372.312 48.1215C370.632 49.803 368.895 50.9592 367.102 51.59C365.31 52.1825 363.547 52.2575 361.815 51.8149C360.084 51.334 358.468 50.3433 356.968 48.8429L344.201 36.0704L348.071 32.199L360.95 45.084C362.15 46.2844 363.449 46.8796 364.846 46.8697C366.263 46.8402 367.645 46.1509 368.994 44.8018C370.343 43.4527 371.022 42.0792 371.032 40.6814C371.061 39.264 370.476 37.9551 369.276 36.7547L356.397 23.8697L360.266 19.9984L373.033 32.7708C374.533 34.2713 375.514 35.8974 375.975 37.6492C376.437 39.3627 376.362 41.1257 375.75 42.9381C375.139 44.7122 373.993 46.44 372.312 48.1215Z' fill='%23e5e5e5'/%3E%3Cpath d='M382.41 37.2317L378.493 21.2883L362.784 17.4798L367.181 13.0805L378.371 16.1216L378.899 15.5936L375.859 4.39928L380.256 0L384.063 15.7159L400 19.6346L395.603 24.0339L384.185 20.8827L383.658 21.4106L386.808 32.8324L382.41 37.2317Z' fill='%23e5e5e5'/%3E%3Cpath d='M25.6656 188L9.3551 171.683L3.37458 177.666L0 174.29L15.8308 158.452L19.2054 161.828L13.2249 167.811L29.5353 184.129L25.6656 188Z' fill='%23e5e5e5'/%3E%3Cpath d='M38.1511 175.509L18.4661 155.816L25.6485 148.631L46.3499 162.243L46.8776 161.715L33.2708 141.005L40.4533 133.82L60.1383 153.513L56.3858 157.267L39.4286 140.303L38.9009 140.831L52.3402 161.314L45.9492 167.708L25.474 154.263L24.9463 154.791L41.9036 171.755L38.1511 175.509Z' fill='%23e5e5e5'/%3E%3Cpath d='M72.3124 142.121C70.6316 143.803 68.8947 144.959 67.1018 145.59C65.3097 146.183 63.5474 146.257 61.8151 145.815C60.0836 145.334 58.4679 144.343 56.9681 142.843L44.2009 130.07L48.0707 126.199L60.9503 139.084C62.1502 140.284 63.4487 140.88 64.846 140.87C66.2628 140.84 67.6455 140.151 68.994 138.802C70.3426 137.453 71.0218 136.079 71.0317 134.681C71.0612 133.264 70.476 131.955 69.2762 130.755L56.3965 117.87L60.2663 113.998L73.0334 126.771C74.5332 128.271 75.5137 129.897 75.9749 131.649C76.4368 133.363 76.3619 135.126 75.7501 136.938C75.1391 138.712 73.9932 140.44 72.3124 142.121Z' fill='%23e5e5e5'/%3E%3Cpath d='M82.4102 131.232L78.4932 115.288L62.7838 111.48L67.1813 107.081L78.371 110.122L78.8987 109.594L75.8589 98.3993L80.2563 94L84.0633 109.716L100 113.635L95.6026 118.034L84.1855 114.883L83.6578 115.411L86.8077 126.832L82.4102 131.232Z' fill='%23e5e5e5'/%3E%3Cpath d='M125.666 188L109.355 171.683L103.375 177.666L100 174.29L115.831 158.452L119.205 161.828L113.225 167.811L129.535 184.129L125.666 188Z' fill='%23e5e5e5'/%3E%3Cpath d='M138.151 175.509L118.466 155.816L125.649 148.631L146.35 162.243L146.878 161.715L133.271 141.005L140.453 133.82L160.138 153.513L156.386 157.267L139.429 140.303L138.901 140.831L152.34 161.314L145.949 167.708L125.474 154.263L124.946 154.791L141.904 171.755L138.151 175.509Z' fill='%23e5e5e5'/%3E%3Cpath d='M172.312 142.121C170.632 143.803 168.895 144.959 167.102 145.59C165.31 146.183 163.547 146.257 161.815 145.815C160.084 145.334 158.468 144.343 156.968 142.843L144.201 130.07L148.071 126.199L160.95 139.084C162.15 140.284 163.449 140.88 164.846 140.87C166.263 140.84 167.645 140.151 168.994 138.802C170.343 137.453 171.022 136.079 171.032 134.681C171.061 133.264 170.476 131.955 169.276 130.755L156.397 117.87L160.266 113.998L173.033 126.771C174.533 128.271 175.514 129.897 175.975 131.649C176.437 133.363 176.362 135.126 175.75 136.938C175.139 138.712 173.993 140.44 172.312 142.121Z' fill='%23e5e5e5'/%3E%3Cpath d='M182.41 131.232L178.493 115.288L162.784 111.48L167.181 107.081L178.371 110.122L178.899 109.594L175.859 98.3993L180.256 94L184.063 109.716L200 113.635L195.603 118.034L184.185 114.883L183.658 115.411L186.808 126.832L182.41 131.232Z' fill='%23e5e5e5'/%3E%3Cpath d='M225.666 188L209.355 171.683L203.375 177.666L200 174.29L215.831 158.452L219.205 161.828L213.225 167.811L229.535 184.129L225.666 188Z' fill='%23e5e5e5'/%3E%3Cpath d='M238.151 175.509L218.466 155.816L225.649 148.631L246.35 162.243L246.878 161.715L233.271 141.005L240.453 133.82L260.138 153.513L256.386 157.267L239.429 140.303L238.901 140.831L252.34 161.314L245.949 167.708L225.474 154.263L224.946 154.791L241.904 171.755L238.151 175.509Z' fill='%23e5e5e5'/%3E%3Cpath d='M272.312 142.121C270.632 143.803 268.895 144.959 267.102 145.59C265.31 146.183 263.547 146.257 261.815 145.815C260.084 145.334 258.468 144.343 256.968 142.843L244.201 130.07L248.071 126.199L260.95 139.084C262.15 140.284 263.449 140.88 264.846 140.87C266.263 140.84 267.645 140.151 268.994 138.802C270.343 137.453 271.022 136.079 271.032 134.681C271.061 133.264 270.476 131.955 269.276 130.755L256.397 117.87L260.266 113.998L273.033 126.771C274.533 128.271 275.514 129.897 275.975 131.649C276.437 133.363 276.362 135.126 275.75 136.938C275.139 138.712 273.993 140.44 272.312 142.121Z' fill='%23e5e5e5'/%3E%3Cpath d='M282.41 131.232L278.493 115.288L262.784 111.48L267.181 107.081L278.371 110.122L278.899 109.594L275.859 98.3993L280.256 94L284.063 109.716L300 113.635L295.603 118.034L284.185 114.883L283.658 115.411L286.808 126.832L282.41 131.232Z' fill='%23e5e5e5'/%3E%3Cpath d='M325.666 188L309.355 171.683L303.375 177.666L300 174.29L315.831 158.452L319.205 161.828L313.225 167.811L329.535 184.129L325.666 188Z' fill='%23e5e5e5'/%3E%3Cpath d='M338.151 175.509L318.466 155.816L325.649 148.631L346.35 162.243L346.878 161.715L333.271 141.005L340.453 133.82L360.138 153.513L356.386 157.267L339.429 140.303L338.901 140.831L352.34 161.314L345.949 167.708L325.474 154.263L324.946 154.791L341.904 171.755L338.151 175.509Z' fill='%23e5e5e5'/%3E%3Cpath d='M372.312 142.121C370.632 143.803 368.895 144.959 367.102 145.59C365.31 146.183 363.547 146.257 361.815 145.815C360.084 145.334 358.468 144.343 356.968 142.843L344.201 130.07L348.071 126.199L360.95 139.084C362.15 140.284 363.449 140.88 364.846 140.87C366.263 140.84 367.645 140.151 368.994 138.802C370.343 137.453 371.022 136.079 371.032 134.681C371.061 133.264 370.476 131.955 369.276 130.755L356.397 117.87L360.266 113.998L373.033 126.771C374.533 128.271 375.514 129.897 375.975 131.649C376.437 133.363 376.362 135.126 375.75 136.938C375.139 138.712 373.993 140.44 372.312 142.121Z' fill='%23e5e5e5'/%3E%3Cpath d='M382.41 131.232L378.493 115.288L362.784 111.48L367.181 107.081L378.371 110.122L378.899 109.594L375.859 98.3993L380.256 94L384.063 109.716L400 113.635L395.603 118.034L384.185 114.883L383.658 115.411L386.808 126.832L382.41 131.232Z' fill='%23e5e5e5'/%3E%3Cpath d='M25.6656 282L9.3551 265.683L3.37458 271.666L0 268.29L15.8308 252.452L19.2054 255.828L13.2249 261.811L29.5353 278.129L25.6656 282Z' fill='%23e5e5e5'/%3E%3Cpath d='M38.1511 269.509L18.4661 249.816L25.6485 242.631L46.3499 256.243L46.8776 255.715L33.2708 235.005L40.4533 227.82L60.1383 247.513L56.3858 251.267L39.4286 234.303L38.9009 234.831L52.3402 255.314L45.9492 261.708L25.474 248.263L24.9463 248.791L41.9036 265.755L38.1511 269.509Z' fill='%23e5e5e5'/%3E%3Cpath d='M72.3124 236.121C70.6316 237.803 68.8947 238.959 67.1018 239.59C65.3097 240.183 63.5474 240.257 61.8151 239.815C60.0836 239.334 58.4679 238.343 56.9681 236.843L44.2009 224.07L48.0707 220.199L60.9503 233.084C62.1502 234.284 63.4487 234.88 64.846 234.87C66.2628 234.84 67.6455 234.151 68.994 232.802C70.3426 231.453 71.0218 230.079 71.0317 228.681C71.0612 227.264 70.476 225.955 69.2762 224.755L56.3965 211.87L60.2663 207.998L73.0334 220.771C74.5332 222.271 75.5137 223.897 75.9749 225.649C76.4368 227.363 76.3619 229.126 75.7501 230.938C75.1391 232.712 73.9932 234.44 72.3124 236.121Z' fill='%23e5e5e5'/%3E%3Cpath d='M82.4102 225.232L78.4932 209.288L62.7838 205.48L67.1813 201.081L78.371 204.122L78.8987 203.594L75.8589 192.399L80.2563 188L84.0633 203.716L100 207.635L95.6026 212.034L84.1855 208.883L83.6578 209.411L86.8077 220.832L82.4102 225.232Z' fill='%23e5e5e5'/%3E%3Cpath d='M125.666 282L109.355 265.683L103.375 271.666L100 268.29L115.831 252.452L119.205 255.828L113.225 261.811L129.535 278.129L125.666 282Z' fill='%23e5e5e5'/%3E%3Cpath d='M138.151 269.509L118.466 249.816L125.649 242.631L146.35 256.243L146.878 255.715L133.271 235.005L140.453 227.82L160.138 247.513L156.386 251.267L139.429 234.303L138.901 234.831L152.34 255.314L145.949 261.708L125.474 248.263L124.946 248.791L141.904 265.755L138.151 269.509Z' fill='%23e5e5e5'/%3E%3Cpath d='M172.312 236.121C170.632 237.803 168.895 238.959 167.102 239.59C165.31 240.183 163.547 240.257 161.815 239.815C160.084 239.334 158.468 238.343 156.968 236.843L144.201 224.07L148.071 220.199L160.95 233.084C162.15 234.284 163.449 234.88 164.846 234.87C166.263 234.84 167.645 234.151 168.994 232.802C170.343 231.453 171.022 230.079 171.032 228.681C171.061 227.264 170.476 225.955 169.276 224.755L156.397 211.87L160.266 207.998L173.033 220.771C174.533 222.271 175.514 223.897 175.975 225.649C176.437 227.363 176.362 229.126 175.75 230.938C175.139 232.712 173.993 234.44 172.312 236.121Z' fill='%23e5e5e5'/%3E%3Cpath d='M182.41 225.232L178.493 209.288L162.784 205.48L167.181 201.081L178.371 204.122L178.899 203.594L175.859 192.399L180.256 188L184.063 203.716L200 207.635L195.603 212.034L184.185 208.883L183.658 209.411L186.808 220.832L182.41 225.232Z' fill='%23e5e5e5'/%3E%3Cpath d='M225.666 282L209.355 265.683L203.375 271.666L200 268.29L215.831 252.452L219.205 255.828L213.225 261.811L229.535 278.129L225.666 282Z' fill='%23e5e5e5'/%3E%3Cpath d='M238.151 269.509L218.466 249.816L225.649 242.631L246.35 256.243L246.878 255.715L233.271 235.005L240.453 227.82L260.138 247.513L256.386 251.267L239.429 234.303L238.901 234.831L252.34 255.314L245.949 261.708L225.474 248.263L224.946 248.791L241.904 265.755L238.151 269.509Z' fill='%23e5e5e5'/%3E%3Cpath d='M272.312 236.121C270.632 237.803 268.895 238.959 267.102 239.59C265.31 240.183 263.547 240.257 261.815 239.815C260.084 239.334 258.468 238.343 256.968 236.843L244.201 224.07L248.071 220.199L260.95 233.084C262.15 234.284 263.449 234.88 264.846 234.87C266.263 234.84 267.645 234.151 268.994 232.802C270.343 231.453 271.022 230.079 271.032 228.681C271.061 227.264 270.476 225.955 269.276 224.755L256.397 211.87L260.266 207.998L273.033 220.771C274.533 222.271 275.514 223.897 275.975 225.649C276.437 227.363 276.362 229.126 275.75 230.938C275.139 232.712 273.993 234.44 272.312 236.121Z' fill='%23e5e5e5'/%3E%3Cpath d='M282.41 225.232L278.493 209.288L262.784 205.48L267.181 201.081L278.371 204.122L278.899 203.594L275.859 192.399L280.256 188L284.063 203.716L300 207.635L295.603 212.034L284.185 208.883L283.658 209.411L286.808 220.832L282.41 225.232Z' fill='%23e5e5e5'/%3E%3Cpath d='M325.666 282L309.355 265.683L303.375 271.666L300 268.29L315.831 252.452L319.205 255.828L313.225 261.811L329.535 278.129L325.666 282Z' fill='%23e5e5e5'/%3E%3Cpath d='M338.151 269.509L318.466 249.816L325.649 242.631L346.35 256.243L346.878 255.715L333.271 235.005L340.453 227.82L360.138 247.513L356.386 251.267L339.429 234.303L338.901 234.831L352.34 255.314L345.949 261.708L325.474 248.263L324.946 248.791L341.904 265.755L338.151 269.509Z' fill='%23e5e5e5'/%3E%3Cpath d='M372.312 236.121C370.632 237.803 368.895 238.959 367.102 239.59C365.31 240.183 363.547 240.257 361.815 239.815C360.084 239.334 358.468 238.343 356.968 236.843L344.201 224.07L348.071 220.199L360.95 233.084C362.15 234.284 363.449 234.88 364.846 234.87C366.263 234.84 367.645 234.151 368.994 232.802C370.343 231.453 371.022 230.079 371.032 228.681C371.061 227.264 370.476 225.955 369.276 224.755L356.397 211.87L360.266 207.998L373.033 220.771C374.533 222.271 375.514 223.897 375.975 225.649C376.437 227.363 376.362 229.126 375.75 230.938C375.139 232.712 373.993 234.44 372.312 236.121Z' fill='%23e5e5e5'/%3E%3Cpath d='M382.41 225.232L378.493 209.288L362.784 205.48L367.181 201.081L378.371 204.122L378.899 203.594L375.859 192.399L380.256 188L384.063 203.716L400 207.635L395.603 212.034L384.185 208.883L383.658 209.411L386.808 220.832L382.41 225.232Z' fill='%23e5e5e5'/%3E%3Cpath d='M25.6656 376L9.3551 359.683L3.37458 365.666L0 362.29L15.8308 346.452L19.2054 349.828L13.2249 355.811L29.5353 372.129L25.6656 376Z' fill='%23e5e5e5'/%3E%3Cpath d='M38.1511 363.509L18.4661 343.816L25.6485 336.631L46.3499 350.243L46.8776 349.715L33.2708 329.005L40.4533 321.82L60.1383 341.513L56.3858 345.267L39.4286 328.303L38.9009 328.831L52.3402 349.314L45.9492 355.708L25.474 342.263L24.9463 342.791L41.9036 359.755L38.1511 363.509Z' fill='%23e5e5e5'/%3E%3Cpath d='M72.3124 330.121C70.6316 331.803 68.8947 332.959 67.1018 333.59C65.3097 334.183 63.5474 334.257 61.8151 333.815C60.0836 333.334 58.4679 332.343 56.9681 330.843L44.2009 318.07L48.0707 314.199L60.9503 327.084C62.1502 328.284 63.4487 328.88 64.846 328.87C66.2628 328.84 67.6455 328.151 68.994 326.802C70.3426 325.453 71.0218 324.079 71.0317 322.681C71.0612 321.264 70.476 319.955 69.2762 318.755L56.3965 305.87L60.2663 301.998L73.0334 314.771C74.5332 316.271 75.5137 317.897 75.9749 319.649C76.4368 321.363 76.3619 323.126 75.7501 324.938C75.1391 326.712 73.9932 328.44 72.3124 330.121Z' fill='%23e5e5e5'/%3E%3Cpath d='M82.4102 319.232L78.4932 303.288L62.7838 299.48L67.1813 295.081L78.371 298.122L78.8987 297.594L75.8589 286.399L80.2563 282L84.0633 297.716L100 301.635L95.6026 306.034L84.1855 302.883L83.6578 303.411L86.8077 314.832L82.4102 319.232Z' fill='%23e5e5e5'/%3E%3Cpath d='M125.666 376L109.355 359.683L103.375 365.666L100 362.29L115.831 346.452L119.205 349.828L113.225 355.811L129.535 372.129L125.666 376Z' fill='%23e5e5e5'/%3E%3Cpath d='M138.151 363.509L118.466 343.816L125.649 336.631L146.35 350.243L146.878 349.715L133.271 329.005L140.453 321.82L160.138 341.513L156.386 345.267L139.429 328.303L138.901 328.831L152.34 349.314L145.949 355.708L125.474 342.263L124.946 342.791L141.904 359.755L138.151 363.509Z' fill='%23e5e5e5'/%3E%3Cpath d='M172.312 330.121C170.632 331.803 168.895 332.959 167.102 333.59C165.31 334.183 163.547 334.257 161.815 333.815C160.084 333.334 158.468 332.343 156.968 330.843L144.201 318.07L148.071 314.199L160.95 327.084C162.15 328.284 163.449 328.88 164.846 328.87C166.263 328.84 167.645 328.151 168.994 326.802C170.343 325.453 171.022 324.079 171.032 322.681C171.061 321.264 170.476 319.955 169.276 318.755L156.397 305.87L160.266 301.998L173.033 314.771C174.533 316.271 175.514 317.897 175.975 319.649C176.437 321.363 176.362 323.126 175.75 324.938C175.139 326.712 173.993 328.44 172.312 330.121Z' fill='%23e5e5e5'/%3E%3Cpath d='M182.41 319.232L178.493 303.288L162.784 299.48L167.181 295.081L178.371 298.122L178.899 297.594L175.859 286.399L180.256 282L184.063 297.716L200 301.635L195.603 306.034L184.185 302.883L183.658 303.411L186.808 314.832L182.41 319.232Z' fill='%23e5e5e5'/%3E%3Cpath d='M225.666 376L209.355 359.683L203.375 365.666L200 362.29L215.831 346.452L219.205 349.828L213.225 355.811L229.535 372.129L225.666 376Z' fill='%23e5e5e5'/%3E%3Cpath d='M238.151 363.509L218.466 343.816L225.649 336.631L246.35 350.243L246.878 349.715L233.271 329.005L240.453 321.82L260.138 341.513L256.386 345.267L239.429 328.303L238.901 328.831L252.34 349.314L245.949 355.708L225.474 342.263L224.946 342.791L241.904 359.755L238.151 363.509Z' fill='%23e5e5e5'/%3E%3Cpath d='M272.312 330.121C270.632 331.803 268.895 332.959 267.102 333.59C265.31 334.183 263.547 334.257 261.815 333.815C260.084 333.334 258.468 332.343 256.968 330.843L244.201 318.07L248.071 314.199L260.95 327.084C262.15 328.284 263.449 328.88 264.846 328.87C266.263 328.84 267.645 328.151 268.994 326.802C270.343 325.453 271.022 324.079 271.032 322.681C271.061 321.264 270.476 319.955 269.276 318.755L256.397 305.87L260.266 301.998L273.033 314.771C274.533 316.271 275.514 317.897 275.975 319.649C276.437 321.363 276.362 323.126 275.75 324.938C275.139 326.712 273.993 328.44 272.312 330.121Z' fill='%23e5e5e5'/%3E%3Cpath d='M282.41 319.232L278.493 303.288L262.784 299.48L267.181 295.081L278.371 298.122L278.899 297.594L275.859 286.399L280.256 282L284.063 297.716L300 301.635L295.603 306.034L284.185 302.883L283.658 303.411L286.808 314.832L282.41 319.232Z' fill='%23e5e5e5'/%3E%3Cpath d='M325.666 376L309.355 359.683L303.375 365.666L300 362.29L315.831 346.452L319.205 349.828L313.225 355.811L329.535 372.129L325.666 376Z' fill='%23e5e5e5'/%3E%3Cpath d='M338.151 363.509L318.466 343.816L325.649 336.631L346.35 350.243L346.878 349.715L333.271 329.005L340.453 321.82L360.138 341.513L356.386 345.267L339.429 328.303L338.901 328.831L352.34 349.314L345.949 355.708L325.474 342.263L324.946 342.791L341.904 359.755L338.151 363.509Z' fill='%23e5e5e5'/%3E%3Cpath d='M372.312 330.121C370.632 331.803 368.895 332.959 367.102 333.59C365.31 334.183 363.547 334.257 361.815 333.815C360.084 333.334 358.468 332.343 356.968 330.843L344.201 318.07L348.071 314.199L360.95 327.084C362.15 328.284 363.449 328.88 364.846 328.87C366.263 328.84 367.645 328.151 368.994 326.802C370.343 325.453 371.022 324.079 371.032 322.681C371.061 321.264 370.476 319.955 369.276 318.755L356.397 305.87L360.266 301.998L373.033 314.771C374.533 316.271 375.514 317.897 375.975 319.649C376.437 321.363 376.362 323.126 375.75 324.938C375.139 326.712 373.993 328.44 372.312 330.121Z' fill='%23e5e5e5'/%3E%3Cpath d='M382.41 319.232L378.493 303.288L362.784 299.48L367.181 295.081L378.371 298.122L378.899 297.594L375.859 286.399L380.256 282L384.063 297.716L400 301.635L395.603 306.034L384.185 302.883L383.658 303.411L386.808 314.832L382.41 319.232Z' fill='%23e5e5e5'/%3E%3C/svg%3E");
  background-size: 200px 188px;
  background-position-x: -76.2px;
}

.group-of-shortcuts {
  @apply grid grid-cols-1 gap-y-4 sm:grid-cols-2;
}

.dark .footer-pattern {
  filter: invert(1);
}

@theme inline {
  --color-symbol: var(--symbol);
  --color-pattern-fg: var(--pattern-fg);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-shadow: var(--shadow);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-secondary: var(--sidebar-secondary);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-shadow text-foreground;
  }
}
