@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-heading: "Space Grotesk Variable", "sans-serif";
  --font-sans: "DM Sans Variable", sans-serif;
  --font-mono: "DM Mono", sans-serif;
}

:root {
  --primary-color: #2d3748;
  --secondary-color: #4a5568;
  --accent-color: #4299e1;

  --pattern-stripe-fg: var(--color-gray-100);
  --pattern-dot-fg: var(--color-gray-300);
}

body {
  color: var(--primary-color);
}

code {
  background-color: #f1f5f9;
  padding: 0.2em 0.4em;
  border-radius: 0.25rem;
}

.prose code {
  background-color: #f1f5f9;
  padding: 0.2em 0.4em;
  border-radius: 0.25rem;
  font-size: 0.875em;
}

.prose pre {
  background-color: #1a202c;
  color: #e2e8f0;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}

.prose pre code {
  background-color: transparent;
  padding: 0;
  color: inherit;
}

.prose a {
  color: var(--accent-color);
  text-decoration: none;
}

.prose a:hover {
  text-decoration: underline;
}

.prose h2 {
  @apply sticky top-3 z-0 -mx-4 bg-white px-4 py-3 text-5xl;
}

.prose h2::before {
  @apply absolute top-0 -right-3 -bottom-3 -left-0 -z-20 border-2 border-[var(--pattern-stripe-fg)];
  background-image: repeating-linear-gradient(
    45deg,
    var(--pattern-stripe-fg) 0,
    var(--pattern-stripe-fg) 2px,
    white 0,
    white 50%
  );
  clip-path: polygon(
    0 0,
    calc(100% - 9px) 0,
    100% 9px,
    100% 100%,
    100% 100%,
    12px 100%,
    0 calc(100% - 12px),
    0 0
  );
  background-size: 12px 12px;
  background-attachment: local;
  content: " ";
}

.prose h2::after {
  @apply absolute inset-0 -z-10 border-2 border-gray-100 bg-white;
  content: " ";
}
